.container{
    margin-bottom: 20px;
  }

.navbar-toggler{
    margin-left: 33px;
}
.container-fluid{
    background-color: #F0FFF0;
}

.top-container-item{
    margin-bottom: 25px;
}

.col-md-6 h1{
    font-size: 320%;
}

@media screen and (max-width: 1200px) {
    .col-md-6 h1{
        font-size: 250%;
    }
  }
  @media screen and (max-width: 1052px) {
    .col-md-6 h1{
        font-size: 180%;
    }
  }

  .theme-button{
    margin-top: 0px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #21B573;
    color: #FFF;
    width: 180px;
  }
  .sign-in-button{
    width: 120px;
  }

  .mid-container{
    margin-top: 30px;
  }
  .card-title{
    font-weight: 500;
    font-size: 24px;
  }

  .card-text{
    font-weight: 400;
    font-size: 16px;
    margin: auto;
  }

  .card img{
    width: 68px;
  }
  .card .book-img{
    width: 60px;
  }

  .card{
    padding: 15% 0;
    text-align: center;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }

  .card-top{
    border: none;
    background-color: #F8FFFB;
  }
  .card-top:hover{
    box-shadow: 0px 5px 10px rgb(19, 112, 0), 0px 8px 10px rgb(0, 0, 170), 0px 15px 10px green ;
    background: #FFF;
  }

  @media screen and (max-width: 820px) {
    .mid-container{
    height: 400px;
    }
    .mid-container .row-cols-1 .col-md-3{
        width: 50%;
    }

    .card-title{
        font-weight: 500;
        font-size: 20px;
      }
    
      .card-text{
        font-weight: 400;
        font-size: 12px;
        margin: auto;
      }
    
      .card img{
        width: 50px;
      }
      .card .book-img{
        width: 45px;
      }
    
      .online-course .card{
        padding: 5% 5% 0 5%;
        text-align: center;
        width: 100%;
      }
}

.online-course{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: start;
}

@media screen and (max-width: 820px) {
    .online-course-container{
        padding-top: 120px;
    }
}
@media screen and (max-width: 767px) {
    .online-course-container{
        padding-top: 60px;
    }
    .online-course-container .card-body{
        padding-left: 30px;
    }
    .card .card-footer{
        padding-left: 30px;
    }
}
.container .container-title{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.online-course .card{
    text-align: start;
}

.card .online-course-image{
    margin: auto;
    width: 91%;
}

.card .card-footer{
    background: none;
    border-top: none;
}



.card .card-footer .card-footer-img{
    width: 24px;
}

.card .card-footer div p{
    font-size: 80%;
    margin-top: 20px;
    margin-bottom: 0;
}


@media screen and (max-width: 991px) {
    .mb-2 button{
        margin-left: 10px;
    }
    .card .card-footer .card-footer-img{
        width: 12px;
    }

    .card .card-footer .mb-2{
        padding: 0;
    }

    .card .card-footer div p{
        font-size: 9px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .col-md-8{
        text-align: start;
        width: 80%;
    }
    .col-md-4{
        width: 20%;
        align-items: start;
        padding: 10px;
    }
}

@media screen and (max-width: 820px) {
    .mb-2 button{
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px) {

    .card .card-footer .card-footer-img{
        width: 20px;
    }

    .mb-2 button{
        margin-left: 10px;
    }

    .card .card-footer div p{
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 480px) {

    .card .card-footer .card-footer-img{
        width: 20px;
    }

    .card .card-footer div p{
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.card .card-footer .row .row{
    padding-right: 0;
}
.col-md-8{
    width: 70%;
}
.col-md-4{
    padding: 0;
    width: 30%;
}


.testimonial-image{
    width: 150px;
    border: 5px solid rgb(241, 240, 240);
    border-radius: 50%;
}

.container-footer{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #242129;
    color: #FFF;
}

.container-footer .container .col-md-5{
    padding-bottom: 20px;
    text-align: justify;
}
.container-footer .container .col-md-5 h6{
    font-weight: 200;
}

.container-footer .container ul li{
    list-style: none;
    font-weight: 300;
}
.container-footer .container .list-head{
    font-weight: 800;
}